$white: #eeeeee;
$lightgray: #cccccc;
$darkgray: #333333;
$black: #111111;
$red: #993333;
$lightred: #eeaaaa;
$blue: rgb(113, 218, 255);
$darkblue: rgb(0, 54, 72);

@import url('https://fonts.googleapis.com/css?family=Fredoka');

$font-main: 'Fredoka', sans-serif;

body {
  background-color: $black;
}

#root {
  width: 100vw;
  height: 95vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#goose {
  display: flex;
  position: absolute;
  left: 50vw;
  right: 50vw;
  bottom: 45vh;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#navbar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: $darkgray;
  color: $white;
  font-family: $font-main;
  left: 0vw;
  right: 100vw;
  top: 0vh;
  bottom: 10vh;
  width: 100%;
  max-width: 100%;
  max-height: 60px;
  min-height: 60px;
  box-shadow: $darkgray 0px 0px 40px 10px;

  button {
    color: $black;
    background-color: $lightgray;
    font-family: $font-main;
    font-size: 24px;
    border-radius: 6px;
    margin: 12px;
  }

  h1 {
    margin: 12px;
  }
}

#authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: $darkgray;
  box-shadow: 0px 0px 30px 5px #333333;
  color: $black;

  input {
    font-family: $font-main;
    margin: 12px;
    padding: 6px;
    padding-left: 12px;
    width: 420px;
    height: 40px;
    font-size: 36px;
    border-radius: 12px;
    background-color: $white;
    color: $black;
  }

  button {
    font-family: $font-main;
    border-radius: 12px;
    background-color: $lightgray;
    color: $black;
  }

  #authRequest {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
    margin: 6px;
  }

  #switchPage {
    font-size: 16px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
  }

  #error {
    font-family: $font-main;
    font-size: 20px;
    color: $lightred;
    padding: 6px;
    margin-top: 12px;
  }
}

#listManager {
  font-family: $font-main;
  color: $white;

  #listSelector {
    padding: 12px;
    margin: 12px;
    height: 60vh;
    overflow: auto;
    border-radius: 12px;
    border-style: solid;
    border-color: $blue;
    box-shadow: $darkblue 0px 0px 24px 12px;
    background-color: $darkblue;
  }

  #topBar {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    width: 600px;
    align-items: center;
  }

  #listCreator {
    background-color: $darkblue;
    margin: 6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: $blue;
    box-shadow: $darkblue 0px 0px 24px 12px;
    border-width: 2px;
    border-radius: 12px;

    .option {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
    }

    #add {
      font-size: 30px;
    }

    input {
      padding: 3px;
      height: 30px;
      margin: 24px;
      font-family: $font-main;
      width: 300px;
      font-size: 24px;
      background-color: $white;
      color: $black;
      border-radius: 12px;
    }

    #itemList {
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
      overflow: auto;
      height: 30vh;
      max-height: 300px;

      .listItem {
        padding-right: 32px;
        display: flex;
        justify-content: space-between;
        width: 480px;
        max-width: 480px;
        align-items: center;
      }
    }
  }

  .existingList {
    margin: 6px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: $blue;
    background-color: $darkblue;
    border-width: 2px;
    border-radius: 12px;

    .listSelectionButtons {
      display: flex;
      flex-direction: column;

      .deleteButton {
        margin-top: 0px;
        background-color: $red;
        color: $lightred;
      }
    }
  }

  button {
    color: $white;
    background-color: $darkgray;
    font-family: $font-main;
    font-size: 24px;
    border-radius: 12px;
    margin: 12px;
    height: 48px;
  }

  h1 {
    margin: 12px;
  }

  h2 {
    margin: 12px;
  }

  h3 {
    margin: 12px;
  }

  p {
    margin: 12px;
  }

}

#sorting {
  font-family: $font-main;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #topBar {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    width: 600px;
    align-items: center;

    button {
      color: $white;
      background-color: $darkgray;
      font-family: $font-main;
      font-size: 24px;
      border-radius: 12px;
      margin: 12px;
      height: 48px;
    }
  }

  #question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: $blue;
    background-color: $darkblue;
    padding: 12px;
    box-shadow: $darkblue 0px 0px 24px 12px;
    margin: 12px;

    #choices {
      display: flex;
      flex-direction: row;
    }

    button {
      color: $white;
      background-color: $darkgray;
      font-family: $font-main;
      font-size: 24px;
      border-radius: 12px;
      margin: 12px;
      width: 240px;
      max-width: 240px;
      min-height: 48px;
    }
  }

  #results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: $blue;
    background-color: $darkblue;
    padding: 12px;
    box-shadow: $darkblue 0px 0px 24px 12px;
    margin: 12px;
    width: 540px;
    height: 60vh;
    max-height: 540px;

    #items {
      overflow: auto;
      text-align: center;
      width: 530px;
    }
  }

  h1 {
    margin: 12px;
  }
}

#loading {
  font-family: $font-main;
  color: $white;
}